.vscode/
*__pycache__/*

# ignore all files in data directory
data/*
data/omics/TCGA*
temp_dir/*

# ignore docs
framework-docs/*
notes/*
paper/*
kg_benchmark/*

#ignore
gnn/*

# ignore all files in kg-benchmark/pkt_data/builds directory
kg-benchmark/pkt/pkt_data/builds/*
data/pkt/builds/*
#  specific files
data/pkt/kg_ana*
data/pkt/READ*
data/pkt/pkt_onto*
data/pkt/create_*
data/pkt/kg_insig*

# omics data structure files
data/omics/data-structure/*
data/omics/readme.md

find_everywhere.py
webpagetext_scraper.py

# ignore all files .owl .obo .tsv .nt .csv 
*.owl
*.obo
*.tsv
*.nt
#*.csv
*.lnk
*.zip
*.gz
*.7z
*.probemap
*.url
*.json

# Tranne questa directory
!data/omics/
!data/pkt/

# except for specific files
!data\omics\metadata\TCGA_sample_type_codes.csv
!data\pkt\metadata\LabelClassDataset_metadata.csv
